* {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: black;
	padding: 5px;
}


body{
	width: 960px;
	margin: 0 auto;
	border: 1px solid black;
}

/*-------------------------------------------------------*/

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
  	"header"
  	"section_content"
  	"aside_1"
  	"aside_2"
  	"image_box"
  	"footer";
  }

/*---------------------------------------------------------*/

@media only screen and (min-width: 576px) {
	.wrapper {
		display: grid;
  	gap: 20px;
		grid-template-columns: 3fr 1fr;
		grid-template-areas:
			"header header"
			"section_content section_content" 
			"image_box aside_2"
			"footer footer";
	}
}

/*---------------------------------------------------------*/
@media only screen and (min-width: 768px) {
	.wrapper {
		grid-template-columns: 3fr 1fr;
		grid-template-areas:
			"header header"
			"section_content aside_2"
			"image_box aside_1"
			"footer footer";
	}
}

/*---------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
	.wrapper {
		grid-template-columns: 4fr 1fr 1fr;
		grid-template-areas:
			"header header header"
			"section_content aside_1 aside_2"
			"image_box aside_1 aside_2"
			"footer footer footer";
	}
}

/*----------------------------------------------------------*/

.main_head{
	grid-area: header;
	height: 100px;
	background-color:#eee;
	border: 1px solid black;
	
}

.section_content{
	grid-area: section_content;
	background-color: #eee;
	border: 1px solid black;
	
}

.image_box{
	grid-area: image_box;
	background-color: #eee;
	border: 1px solid black;
	clear: both;
	
}

.aside_1{
	grid-area: aside_1;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	
}

.aside_2{
	grid-area: aside_2;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	
}

.main_footer{
	grid-area: footer;
	background-color: #eee;
	border: 1px solid black;
	overflow: scroll;
	height: 200px;
	
}

#liTop{
	display: inline;
	float: left;
	
}

.image_box figcaption {
	float: left;
	margin: 0 10px 0 0;
}

.image_box figure{
	width: 200px;
	height: 200px; 
	float: left;
	margin: 0 10px 0 0;
}

